* {
    width: 90%;
    margin: 5px;
    z-index: 1;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.companies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: auto;
    flex-wrap: wrap;
    margin: 0 10px;
    border-top: 3px rgb(190, 119, 119) solid;
    border-right:  3px rgb(190, 119, 119) solid;
    border-left:  3px rgb(190, 119, 119) solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    min-width: 300px;
    padding: 10px;
    background-color: rgb(245, 168, 168);
}

.company-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 200, 200);
    border: 3px white solid;
    padding: 10px;
    width: 200px;
}

.company-card:hover {
    box-shadow: rgb(190, 119, 119) 5px 5px 10px;
}

.company-card:active:hover {
    background-color: rgb(190, 119, 119);
}

.company-card div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px auto;
    height: 50px;
    text-align: center;
}

.company-name {
    font-size: 25px;
    border-bottom: 2px white dashed;
}

.balance {
    margin-top: 15px;
    font-size: 25px;
}

.details {
    background-color: rgb(245, 168, 168);
    width: 300px;
    border-top:  3px rgb(190, 119, 119) dashed;
    border-right:  3px rgb(190, 119, 119) solid;
    border-left:  3px rgb(190, 119, 119) solid;
    border-bottom:  3px rgb(190, 119, 119) solid;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0;
    margin-left: 10px;
}

.employee-mini-avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.employee-mini-avatar {
    width: 50px;
    border: 3px white dotted;
    border-radius: 100%;
}

.employee-mini-avatar:hover {
    box-shadow: rgb(190, 119, 119) 5px 5px 10px;
}

.employee-mini-avatar:active:hover {
    background-color: rgb(190, 119, 119);
}

h2 {
    width: 200px;
    height: 40px;
    margin-left: 0;
    margin-top: 0;
    padding-left: 25px;
    background-color: rgb(245, 168, 168);
    border-bottom:  3px rgb(190, 119, 119) solid;
    border-right:  3px rgb(190, 119, 119) solid;
    border-bottom-right-radius: 20px;
}

.avatar-container {
    display: flex;
    justify-content: center;
}

.avatar {
    margin: 10px;
    width: 30%;
}

p {
    margin: auto;
    justify-content: center;
}

button {
    min-height: 50px;
}

form {
    border: 1px black solid;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.error-msg {
    color: red;
    font-size: 12px;
}
    