<div class="control-bar">
	<div class="total-balance">
		<p>Total Weekly Balance</p>
		<p class="money">{{totalWeeklyBalance}}€</p>
	</div>
	<button (click)="nextWeek()">Next Week</button>
	<button (click)="refresh()">Reload Changes</button>
</div>

<div class="container">
	
	<div class="companies">
		<div *ngFor="let company of companyList; let i = index" class="company-card"
				(click)="companyDetails(company.companyId)">
			<div>
				<p class="company-name">{{ company.companyName }}</p>
			</div>	
			<div>
				<p>Weekly balance:</p>
				<p class="balance">{{ company.revenue - company.maintenance }}€</p>
			</div>
		</div>
	</div>
	
	<div class="details">
		<div class="avatar-container">
			<img class="avatar" src="{{ businessModel.photo }}" alt="Business model photo">
		</div>
		<div>
			<p>Name: {{ company.companyName }}</p>
			<p>Revenue: {{ company.revenue }}€</p>
			<p>Maintenance: {{ company.maintenance }}€</p>
			<p>Accident risk index: {{ company.accidentRiskIndex }}%</p>
			<p>Business: {{ businessModel.modelName }}</p>
			<p>Number of employees: {{ company.employeesNumber }}</p> 	
		</div>
		<div class="employee-mini-avatar-container">
			<div class="employee-mini-avatar" *ngFor="let employee of employeeList">
				<img src="{{employee.photo}}" alt="">
			</div>
		</div>
		<button (click)="deleteCompany(company.companyId)">Sell {{ company.companyName }} ({{ businessModel.purchasePrice * 0.8 }}€)</button>
	</div>

	<div class="appendix">
		<h2>COMPANIES</h2>
		<button *ngIf="!formIsVisible" class="show-pannel" (click)="showPannel()">Buy new Company</button>
		<button *ngIf="formIsVisible" class="close-pannel" (click)="showPannel()">Close</button>

		<div class="form" *ngIf="formIsVisible">
			<form (ngSubmit)="createCompany()" #form="ngForm">
		
				<label for="companyName">Company Name:</label><br>
				<input type="text" ngModel required #inputName="ngModel" name="companyName" placeholder="Company Inc."
						[(ngModel)]="companyName"><br>
				<p class="error-msg" *ngIf="inputName.invalid && inputName.touched">Don't forget to write your company name!</p>
		
				<label for="businessModel">Type of Business:</label><br>
				<select ngModel required #inputBusinessModel="ngModel" name="businessModel">
					<option value="" hidden selected>Select the type of business</option>
					<option *ngFor="let business of businessModelList" (click)="selectBusinessModelDetails(business.modelId)">
						{{ business.modelName }}
					</option>
				</select>
				<p class="error-msg" *ngIf="inputBusinessModel.invalid && inputBusinessModel.touched">Missing Business Model</p>
				
				<button type="submit" [disabled]="form.invalid">Buy company ({{ selectedBusinessModel.purchasePrice }}€)</button>
				<p class="error-msg" *ngIf="notEnoughMoney">Not enough Money</p>
				
			</form>
		</div>		
	</div>

</div>
