.game-board {
    display: flex;
    width: 100%;
}

.left {
    width: 300px;
    border-right: darkblue 3px dotted;
    min-height: 600px;
}

.center {
    width: 100%;
    max-width: 1400px;
    min-width: 1200px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 252, 221);
}