<div class="game-board">

    <div class="left">
        <app-business-model></app-business-model>
    </div>
    
    <div class="center">
        <header>
            <app-player (sendPlayerEvent)="getCurrentPlayer($event)"
            (sendFirstCompanyEvent)="getFirstCompany($event)"
            (sendMoneyEvent)="getMoney($event)"
            [moneyChanges]="moneyChanges"></app-player>
        </header>
        
        <main>
            <app-company (sendMoneyChanges)="getMoneyChanges($event)"
                    [currentPlayer]="currentPlayer" [firstCompany]="firstCompany" [money]="money"></app-company>
            <app-employee (sendMoneyChanges)="getMoneyChanges($event)"
                    [currentPlayer]="currentPlayer" [money]="money"></app-employee>
        </main>
    </div>

</div>