.row {
    width: 300px;
    font-size: 20px;
}
  
.row-even {
      background-color: rgb(0, 202, 91);
}
    
.row-odd {
    background-color: rgb(0, 109, 49);
}

form {
    border: 1px black solid;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.error-msg {
    color: red;
    font-size: 12px;
}

.header {
    height: 100px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.header div {
    border-right: 4px dashed blueviolet;
    border-left: 4px dashed blueviolet;
    width: 150px;
    height: 100%;
    margin: auto;
    padding: 0 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header div * {
    margin: auto;
}

.avatar {
    height: 100%;
}
    