.row {
    width: 300px;
    font-size: 20px;
}
  
.row-even {
      background-color: rgb(0, 202, 91);
}
    
.row-odd {
    background-color: rgb(0, 109, 49);
}

form {
    border: 1px black solid;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.error-msg {
    color: red;
    font-size: 12px;
}
    