.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 10px auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    border: 1px black solid;
    border-top: none;
    background-color: aliceblue;
}

form * {
    margin: 5px;
}

.form div {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.error-msg {
    color: red;
    font-size: 12px;
}

.header {
    height: 100px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
}

.header div {
    border-right: 4px dashed blueviolet;
    border-left: 4px dashed blueviolet;
    width: 150px;
    height: 100%;
    margin: auto;
    padding: 0 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header div * {
    margin: auto;
}

.avatar {
    height: 100%;
}

.create-delete {
    background-color: blue;
    color: white;
}

button {
    min-height: 50px;
    border-radius: 5px;
}
    