<div class="container">

	<div class="appendix">
		<button *ngIf="!formIsVisible" class="show-pannel" (click)="showPannel()">New Employee available!</button>
		<h2>EMPLOYEES</h2>

		<div *ngIf="formIsVisible" class="new-employee">
			<p>New Employee available!</p>
			<img src="{{ photo }}{{ employeeName }}.svg" alt="">
			<p>Name: {{ employeeName }}</p>
			<p>Productivity: {{ productivity }}%</p> 
			<p>Clumsiness: {{ clumsiness }}%</p>
			<button (click)="createEmployee()">Hire Employee (100€)</button>
		</div>
	</div>

	<div class="details">
		<div class="avatar-container">
			<img class="avatar" src="{{employee.photo}}" alt="Employee photo">
		</div>
		<div>
			<p>Employee name: {{ employee.employeeName }}</p>
			<p>Productivity: {{ employee.productivity }}</p>
			<p>Clumsiness: {{ employee.clumsiness }}</p>
			<p *ngIf="employee.companyId !== 0">Working on: {{ company.companyName }}</p>
			<p *ngIf="employee.companyId === 0">Working on: Not Working</p>
		</div>
		<button (click)="deleteEmployee(employee.employeeId)">Fire {{ employee.employeeName }}</button>
	</div>

	<div class="employees">
		<div *ngFor="let employee of employeeList; let i = index" class="employee-card"
				(click)="employeeDetails(employee.employeeId)">
			<img src="{{employee.photo}}" alt="Employee photo">
			<p>{{ employee.employeeName }}</p>
		</div>			
	</div>

</div>

<form (ngSubmit)="createEmployee()" #form="ngForm">
		
	<label for="company">company:</label><br>
	<input type="number" ngModel required #inputCompany="ngModel" name="company"
			[(ngModel)]="company"><br>
	<p class="error-msg" *ngIf="inputCompany.invalid && inputCompany.touched">Missing company</p>

	<button type="submit" [disabled]="form.invalid">Create Employee</button>
	
</form>

