* {
    width: 90%;
    margin: 5px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    bottom: 200px;
}

.employees {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    flex-wrap: wrap;
    margin: 0 10px;
    border-right:  3px rgb(27, 88, 179) solid;
    border-left:  3px rgb(27, 88, 179) solid;
    border-bottom: 3px rgb(27, 88, 179) solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    min-width: 300px;
    padding: 10px;
    background-color: rgb(124, 174, 248);
}

.employee-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(124, 174, 248);
    padding: 10px;
    margin: 5px;
    width: 100px;
    border:  5px white solid;
    border-radius: 50px;
}

.employee-card:hover {
    box-shadow: rgb(27, 88, 179) 5px 5px 10px;
}

.employee-card:active:hover {
    background-color: rgb(27, 88, 179);
}

.details {
    background-color: rgb(124, 174, 248);
    width: 300px;
    border-top:  3px rgb(27, 88, 179) solid;
    border-bottom:  3px rgb(27, 88, 179) dashed;
    border-right:  3px rgb(27, 88, 179) solid;
    border-left:  3px rgb(27, 88, 179) solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 0;
    margin-right: 10px;
}

.appendix {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    position: relative;
    margin: 0;
}

.appendix h2 {
    justify-self: flex-end;
    margin: 0;
    padding: 5px;
    padding-right: 15px;
    height: 40px;
    position: absolute;
    bottom: 0;
    text-align: right;
    background-color: rgb(124, 174, 248);
    border-top:  3px rgb(27, 88, 179) solid;
    border-left:  3px rgb(27, 88, 179) solid;
    border-top-left-radius: 20px;
}

.new-employee {
    width: 200px;
    height: 250px;
    border-top: 1px black solid;
    border-left: 1px black solid;
    margin: 0;
    padding: 10px;
}

.new-employee img {
    height: 50px;
}

.avatar-container {
    display: flex;
    justify-content: center;
}

.avatar {
    margin: 10px;
    width: 40%;
}

p {
    margin: auto;
    justify-content: center;
    padding-bottom: 10px;
}

button {
    min-height: 50px;
}

form {
    border: 1px black solid;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.error-msg {
    color: red;
    font-size: 12px;
}
    