.business-model {
	display: flex;
	flex-direction: column;
}

.row {
    width: 300px;
    font-size: 20px;
}
  
.row-even {
    background-color: rgb(255, 247, 179);
}

.row-even:hover {
    background-color: rgb(204, 197, 136);
}
    
.row-odd {
    background-color: rgb(255, 252, 221);
}

.row-odd:hover {
    background-color: rgb(204, 202, 174);
}

.details {
    border-top: 2px dashed blue;
    background-color: aliceblue;
}

.avatar-container {
    display: flex;
    justify-content: center;
}

.avatar {
    margin: 10px;
    width: 30%;
}

p {
    margin: 0 15px;
    padding: 5px;
}

h2 {
    text-align: center;
    margin: 5px;
}
    